.section-border {
    background-color: var(--title-color);
    height: 1.5px;
    width: 100vw;
    max-width: 968px;
    margin: 0 auto;
    padding: 0 !important;
}


/* Breakpoints */
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 350px) {

}