.section-border {
    background-color: var(--title-color);
    height: 1px;
    width: 81vw;
    padding: 0 !important;
}

/* Breakpoints */
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 350px) {

}