[submodule "node_modules/.cache/gh-pages/git@github.com!agworkgit!cuddlecraze.git"]
    path = node_modules/.cache/gh-pages/git@github.com!agworkgit!cuddlecraze.git
    url = https://github.com/agworkgit/cuddlecraze.git