.hero-info {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.card-item {
    position: relative;
    overflow: hidden;
  }

.hero-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background-color: var(--background-color-transparent);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;
  }

  .card-title-hero {
    font-family: var(--description-font);
    text-align: left;
    color: var(--title-color);
    font-size: var(--info-size);
    margin-bottom: 10px;
  }

/* Breakpoints */
@media screen and (max-width: 992px) {
    .hero-info {
        width: 80%;
        margin-inline: auto;
    }
}

@media screen and (max-width: 768px) {
    .hero-info {
        width: 85%;
        margin-inline: auto;
    }
}

@media screen and (max-width: 576px) {
    .hero-info {
        padding-block: 6rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }
}

@media screen and (max-width: 350px) {

}