.pets-content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    width: 90%;
    margin: 0 auto;
}

.section:first-child {
    padding-top: 6rem;
}

@media screen and (max-width: 992px) {
    .pets-content {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 768px) {
  
  }
  
  @media screen and (max-width: 576px) {
    .pets-content {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
    }

    .section:first-child {
        padding-top: 1rem;
    }
  }
  
  @media screen and (max-width: 350px) {
  
  }