.card-overlay-list {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--card-color);
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
        justify-items: center;
        align-items: center;
        margin-top: -1vh;
        grid-template-rows: 0px 75px 25px 1fr;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.card-title-card {
    color: var(--card-text-color);
    text-align: center;
    font-size: var(--header-size);
    margin-block: 1rem;
}

.card-subtitle-card {
    color: var(--card-text-color);
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.fav-icon {
    fill: var(--favourite-color);
    height: 64px;
  }

.fav-icon:hover {
    fill: var(--favourite-color-hover);
  }

.pet-card-tags {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: var(--buttons-tooltips);
    font-family: var(--description-font);
    justify-content: flex-start;
    width: 100%;
    line-height: 1rem;
    color: var(--title-color);
    background-color: var(--background-color-transparent);
    padding: 1rem;
    text-align: center;
}

.rezerved-tag {
    position: relative;
    font-family: var(--description-font);
    color: var(--title-color);
    background-color: var(--button-color);
    padding: 0.5rem;
    border-radius: 3rem;
}

/* Breakpoints */
/* @media screen and (max-width: 992px) {
    .rezerved-tag {
        top: -12.5vh;
        left: 9.75vh;
    }
}

@media screen and (max-width: 768px) {
    .rezerved-tag {
        top: -12.75vh;
        left: 7.25vh;
    }
}

@media screen and (max-width: 576px) {
    .rezerved-tag {
        top: -19.75vh;
        left: 12.25vh;
    }
}

@media screen and (max-width: 375px) {
    .rezerved-tag {
        top: -25.75vh;
        left: 14vh;
    }
} */