.section:first-child {
    padding-top: 6rem;
}


@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    .section:first-child {
        padding-top: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .section:first-child {
        padding-top: 1.25rem;
    }
}

@media screen and (max-width: 350px) {}