.pet-card {
    background-color: var(--background-color);
    /* height: 100vh; */
    /* padding-top: 6rem; */
    max-width: 968px;
    margin: 0 auto;
}

.card-img {
    display: flex;
    justify-content: center;
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

.card-img, .card-img-top {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /* width: 100%; */
}

.cardd {
        --bs-card-spacer-y: 1rem;
        --bs-card-spacer-x: 1rem;
        --bs-card-title-spacer-y: 0.5rem;
        --bs-card-title-color: ;
        --bs-card-subtitle-color: ;
        --bs-card-border-width: var(--bs-border-width);
        --bs-card-border-color: var(--bs-border-color-translucent);
        --bs-card-border-radius: var(--bs-border-radius);
        --bs-card-box-shadow: ;
        --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
        --bs-card-cap-padding-y: 0.5rem;
        --bs-card-cap-padding-x: 1rem;
        --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
        --bs-card-cap-color: ;
        --bs-card-height: ;
        --bs-card-color: ;
        --bs-card-bg: var(--bs-body-bg);
        --bs-card-img-overlay-padding: 1rem;
        --bs-card-group-margin: 0.75rem;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: var(--bs-card-height);
        color: var(--bs-body-color);
        word-wrap: break-word;
        background-color: var(--bs-card-bg);
        background-clip: border-box;
        border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        border-radius: var(--bs-card-border-radius);

}

.card-body {
    color: var(--card-text-color);
    font-size: var(--buttons-tooltips);
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: var(--mb-3);
    height: auto;
    text-align: center;
}

.pet-pic{
    height: auto;
    width: 60%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-bodyy {
    color: var(--card-text-color);
    font-size: var(--buttons-tooltips);
    background-color: var(--card-color);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pets-container {
    background-color: var(--background-color);
    /* height: 100vh; */
    padding-top: 6rem;
    max-width: 968px;
    margin: 0 auto;
}

h1 {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-position: center;
    object-position: center;
    vertical-align: middle;
    vertical-align: middle;
    border-style: none;
}

div {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Breakpoints */
@media screen and (max-width: 992px) {
    .pet-container {
        padding-top: 6rem;
        max-width: 79%;
    }

    /* .pet-content {
        grid-template-columns: repeat(2, 1fr);
    } */
}

@media screen and (max-width: 768px) {
    .pet-container {
        max-width: 79%;
    }

    /* .pet-content { */
        /* grid-template-columns: repeat(2, 1fr); */
    /* } */
}

@media screen and (max-width: 576px) {
    .pet-container {
        padding-top: 2rem;
        max-width: 79%;
    }

    .pet-content {
        padding-top: 2rem;
        /* grid-template-columns: repeat(1, 1fr); */
    }
}

@media screen and (max-width: 350px) {
    .pet-content {
        padding-top: 2rem;
        /* grid-template-columns: repeat(1, 1fr); */
    }
}