.advice-card {
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  width: 95%;
  margin: 0 auto;
  background-color: var(--background-color);
}

.card-info {
  margin-top: -1rem;
  padding: 1.5rem;
  background-color: var(--card-color);
}

.advice-title {
  font-family: var(--title-font);
  color: var(--background-color);
  text-align: center;
  padding-block: 2rem;
}

.advice-subtitle {
  font-family: var(--description-font);
  color: var(--paragraph-color);
  text-align: center;
}

.min-read {
  font-family: var(--description-font);
  color: var(--background-color);
  padding-top: 1rem;
  text-align: center;
}

.keyword-button {
  font-family: var(--description-font);
  font-size: var(--buttons-tooltips);
  color: var(--paragraph-color);
  background-color: var(--disabled-button-color);
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.advice-card-keywords {
  font-family: var(--description-font);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
  background-color: var(--card-color);
}

.card-buttons-group {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  background-color: var(--card-color);
  padding-bottom: 1.5rem;
}

.advice-link {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: var(--title-color);
  border-radius: 10rem;
  font-size: var(--buttons-tooltips);
}