.blog-post-container {
    display: flex;
    flex-direction: column;
    width: 968px; /* Adjust width as needed */
    padding: 20px;
    margin: 0 auto;
    margin-top: 68px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-family: var(--title-font);
    font-size: var(--header-size) !important;
    margin-bottom: 20px; /* Add margin between title and paragraphs */
  }
  
  .blog-post {
    display: flex;
    align-items: flex-start;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .post-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  .post-content {
    flex: 1;
  }
  
  .post-title {
    font-size: 24px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .post-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .post-paragraphs {
    margin-bottom: 20px;
  }
  
  .content-paragraph {
    margin-bottom: 10px;
    line-height: 1.6;
    font-family: var(--description-font); /* Use the same font as paragraph */
  }
  
  .post-keywords {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .keyword-button {
    font-family: var(--description-font);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #0a4c2c;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .keyword-button:hover {
    background-color: #0056b3;
  }
  
  .blog-post-buttons {
    font-family: var(--description-font);
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .blog-post-buttons button {
    margin-right: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--description-font); /* Use the same font as paragraph */
  }
  
  .blog-post-buttons button.read {
    background-color: #557d60;
  }
  
  .blog-post-fav-button {
    padding: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
 
  .blog-post-fav-button.fav {
    background-color:#557d60;;
  }
  
  .advice-card {
    background-color: var(--title-color);
    width: 80%;
    margin: 20px auto; /* Adjust margin as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(235, 233, 233, 0.1);
  }
  