@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.facts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    width: 90%;
    overflow-y: hidden;
}

.facts-wrapper {
    width: 1500px;
}

.facts-card {
    margin: 0 auto;
    padding: 1.5rem;
    color: #FEFAE0;
    background-color: var(--card-color);
}

.facts-title {
    text-align: center;
    padding-bottom: 1.5rem;
}

.facts-subtitle {
    text-align: center;    
}