.account-container {
    background-color: var(--background-color);
    /* height: 100vh; */
    padding-top: 6rem;
    max-width: 968px;
    margin: 0 auto;
}

.account-content {
    padding-top: 1rem;
    padding-bottom: 4rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
#account-page {
    text-align: center;
  }
  
  .section-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .section-buttons button {
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    flex: 1; /* Distribute space evenly */
  }
  
  .profile-section {
    margin-bottom: 20px;
  }
  
  .profile-section .profile-details {
    text-align: left;
  }
  
  .profile-section .profile-details ul {
    padding: 0;
    list-style: none;
  }
  
  .profile-section .profile-details ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .profile-section .profile-details ul li:last-child {
    margin-right: 0;
  }

@media screen and (max-width: 768px) {
    .account-container {
        max-width: 79%;
    }

    .account-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .account-container {
        padding-top: 2rem;
        max-width: 79%;
    }

    .account-content {
        padding-top: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 350px) {
    .account-content {
        padding-top: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
}