#contactBox {
    max-width: 900px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 1%;
    margin: auto;
    color: #BC6C25;
    font-weight: 500;
  background-color: #FEFAE0;
  padding: 20px;
  padding-right: 40px;
  }

  .subtitle {
    margin-bottom: 10px;
  }

  p, textarea, li, label {
    font-family: 'Inter', sans-serif;
    }

    label{
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #BC6C25;
    }

    li {
        margin-left: 20px;
    }

    ol {
        margin: 10px;
    }

  h2 {
    text-align: center;
  }

  textarea {
    width: max-content;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
  }

  #contact-form {
    margin-top: 20px;
  }

  .nameEmail {
    display:flex;
    justify-content: flex-start;
    padding: 10px;
  }

  .nameEmail label {
    margin-left: -10px;
  }

  .nameEmail textarea {
    width: 15rem;
  }

  .subjectBox {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .subjectBox label{
    display: flex;
  }

  .subjectBox textarea {
    width: max-content;
  }

  .nameInput{
    background-color: white;
  }

#sendButton {
    padding: 0.5rem 16px;
    width: max-content;
    margin-top: 1.5rem;
    background-color: #BC6C25;
    color: #FEFAE0;
    border: none;
    margin-left: 10px;
    border-radius: 1rem;
    font-size: large;
}

#validation {
    margin-top: 10px;
}

#message{
    min-height: 200px;
    width: 100%
}

#subject{
    height: fit-content;
    width: 500px;
}

.messageBox {
    margin-bottom: 10px
}